<div class="active-recurring-expenses-blade">
    <BladeContainer @ref="_bladeContainer">
        <ContentFragment>
            <MatH4 class="clr-on-1t-container">
                Active Recurring Expenses
            </MatH4>

            <MatList Id="result-list" Class="result-list">
                
            </MatList>
        </ContentFragment>
    </BladeContainer>
</div>