.blade-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw; /* 80% of the viewport width */
    height: 100%;
    background-color: var(--now-green-secondary); /* Keep your theme color */
    box-shadow: -2px 0px 8px rgba(0, 0, 0, 0.2); /* Shadow for separation */
    z-index: 1000;
    transform: translateX(100%); /* Start off-screen */
    transition: transform 0.3s ease-in-out;
}

.blade-container.open {
    transform: translateX(0); /* Slide into view */
}

.blade-container .controls-container {
    height: 100%;
    padding: 0 20px; /* Adjust padding as needed */
    display: flex;
    flex-direction: column;
    box-sizing: border-box; /* Ensures padding is included in width */
}

.blade-container .cross {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: var(--white);
    font-size: 20px;
}

.blade-container .cross a {
    text-decoration: none;
    font-weight: bold;
}
