<div id="@_elementId" class="blade-container @( _isOpen ? "open" : "" )">
    <button class="cross">
        <a @onclick="HandleClosePressed">🗙</a>
    </button>

    <div class="content-container">
        @ContentFragment
    </div>
</div>