<div id="@_elementId" class="blade-container @( _isOpen ? "open" : "" )">
    <div class="controls-container">
        <div class="cross">
            <a @onclick="HandleClosePressed">🗙</a>
        </div>
        @ContentFragment
    </div>
</div>