@using MatBlazor

<div class="budget-blade">
    <BladeContainer @ref="_bladeContainer">
        <ContentFragment>
            <h2>Budget</h2>

            <form style="display: flex; flex-direction: column;">
                <MatTextField 
                    @bind-Value="@_name"
                    Label="Name"
                    Icon="create"
                    Required="true" 
                />
                <MatDatePicker 
                    @bind-Value="_startDate" 
                    Label="Start Date" 
                    Format="MMMM dd, yyyy" 
                />
                <MatDatePicker 
                    @bind-Value="_endDate" 
                    Label="End Date" 
                    Format="MMMM dd, yyyy" 
                />
                <MatTextField 
                    @bind-Value="@_budget" 
                    Label="Budget" 
                    Icon="attach_money" 
                    Required="true" 
                />

                <MatButton 
                    OnClick="HandleSubmitPressed"
                    Unelevated="true"
                >
                    SUBMIT
                </MatButton>
            </form>
        </ContentFragment>
    </BladeContainer>
</div>