@using MatBlazor
@using ChefKnifeStudios.ExpenseTracker.Shared.DTOs

<div class="budget-blade">
    <BladeContainer @ref="_bladeContainer">
        <ContentFragment>
            <MatH4 class="clr-on-1t-container">
                Budget
            </MatH4>

            <div class="form">
                <MatAutocompleteList 
                    Items="_budgets"
                    Icon="list"
                    TItem="BudgetDTO"
                    CustomStringSelector="@(x => x?.Name)"
                    Value="@_selectedBudget"
                    ValueChanged="HandleValueChanged"
                    Label="Pick a Budget" />

                <MatTextField 
                    @bind-Value="@_budget" 
                    Label="Budget" 
                    Icon="attach_money" 
                    Required="true" 
                />

                <MatButton 
                    OnClick="HandleSubmitPressed"
                    Unelevated="true"
                >
                    SUBMIT
                </MatButton>
            </div>
        </ContentFragment>
    </BladeContainer>
</div>