<div class="expense-blade">
    <BladeContainer>
        <ContentFragment>
            <h2>Expense</h2>

            <form>

            </form>
        </ContentFragment>
    </BladeContainer>
</div>