<div class="search-blade">
    <BladeContainer @ref="_bladeContainer">
        <ContentFragment>
            <MatH4 class="clr-on-1t-container">
                Search Results
            </MatH4>

            <MatBody2>@SearchViewModel.SearchResult.RagMessage</MatBody2>

            <MatList Id="result-list" Class="result-list">
                @{
                    int i = 0;
                }
                @foreach (var expense in SearchViewModel.SearchResult.Expenses)
                {
                    i += 1;
                    int ii = i;
                    <MatListItem Class="list-item">
                        <span>@expense.Name</span>
                        <span>@(expense.Budget?.Name ?? "N/A")</span>
                    </MatListItem>
                    @if (ii != SearchViewModel.SearchResult.Expenses.Count())
                    {
                        <MatListDivider></MatListDivider>
                    }
                }
            </MatList>
        </ContentFragment>
    </BladeContainer>
</div>