@using MatBlazor;

@page "/"

<div class="home">
    <MatIcon Icon="add"></MatIcon>
    <MatIcon Icon="clear"></MatIcon>
    <MatIcon Icon="list"></MatIcon>
    <MatIcon Icon="attach_money"></MatIcon>
</div>
