.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main-container ::deep .search-bar {
    width: 100vw;
    flex-shrink: 0;
}

.main-container ::deep .content {
    width: 100vw;
    flex: 1 1 auto;
    overflow-y: auto;
}