@using ChefKnifeStudios.ExpenseTracker.Shared.Components
@using ChefKnifeStudios.ExpenseTracker.Shared.DTOs
@using Shared.Models.EventArgs
@using ChefKnifeStudios.ExpenseTracker.Shared.Components.Blades
@using ChefKnifeStudios.ExpenseTracker.Shared.Components.AreYouSureDialogs
@using System.Globalization

@page "/home"

<div class="home">
    <div class="main-container">
        <SearchBar />
        <div class="content">
            <BudgetExpenseList />
        </div>
    </div>

    <BudgetBlade />
    <ExpenseBlade />
    <SearchBlade />
    <CascadingValue Value="RecurringExpenseViewModel">
        <RecurringExpensesBlade />
        <DeleteRecurringExpenseAreYouSureDialog />
    </CascadingValue>
    <ActionBtns />
</div>
