@using ChefKnifeStudios.ExpenseTracker.Shared.Components
@using ChefKnifeStudios.ExpenseTracker.Shared.DTOs
@using Shared.Models.EventArgs
@using ChefKnifeStudios.ExpenseTracker.Shared.Components.Blades
@using System.Globalization

@page "/"

<div class="home">
    <div class="main-container">
        <SearchBar />
        @if (_isGridVisible)
        {
            <BudgetExpenseList />
        }
    </div>

    <BudgetBlade />
    <ExpenseBlade />
    <ActionBtns />
</div>
