@using ChefKnifeStudios.ExpenseTracker.Shared.Components
@using ChefKnifeStudios.ExpenseTracker.Shared.DTOs
@using Shared.Models.EventArgs
@using ChefKnifeStudios.ExpenseTracker.Shared.Components.Blades
@using System.Globalization

@page "/"

<div class="home">
    <BudgetExpenseList /> 
    <BudgetBlade />
    <ExpenseBlade />
    <ActionBtns />
</div>
