.home {
    height: 100%;
}

/*.main-container ::deep .search-bar {
    height: 11.5vh;
}

.main-container ::deep .budget-expense-list {
    overflow-y: scroll;
    height: 88.5vh;
}*/

.main-container ::deep .content {
    overflow-y: scroll;
}