@using ChefKnifeStudios.ExpenseTracker.Shared.Components
@using ChefKnifeStudios.ExpenseTracker.Shared.DTOs
@using Shared.Models.EventArgs
@using ChefKnifeStudios.ExpenseTracker.Shared.Components.Blades
@using System.Globalization

@page "/"

<div class="home bgclr-surface1">
    <div class="main-container">
        <SearchBar />
        <BudgetExpenseList />
    </div>

    <BudgetBlade />
    <ExpenseBlade />
    <SearchBlade />
    <ActionBtns />
</div>
