<div class="delete-recurring-expense-are-you-sure-dialog">
    @if (RecurringExpenseViewModel.SelectedRecurringExpenseForDeletion is { })
    {
        <AreYouSureDialog
            NoCallback="HandleNoPressed"
            YesCallback="HandleYesPressed"
            OpenChangedCallback="HandleOpenChanged"
            HeaderContent="HeaderContent()"
            BodyContent="BodyContent()"
        />
    }
</div>

@code {
    RenderFragment HeaderContent()
    {
        return @<p>Are you sure?</p>;
    }

    RenderFragment BodyContent()
    {
        string name = RecurringExpenseViewModel.SelectedRecurringExpenseForDeletion is { Name: string } 
            ? $"\"{RecurringExpenseViewModel.SelectedRecurringExpenseForDeletion.Name}\"" 
            : string.Empty;
        return @<p>Recurring expense, @(name), will be cancelled and will not generate any future expenses.</p>;
    }
}