@using MatBlazor

<div class="action-btn">
    <MatFAB 
        Icon="attach_money" 
        Class="app-fab--absolute add" 
        OnClick="HandleExpensePressed"
    />
    
    @switch (_actionState)
    {
        case ActionStates.Closed:
            <MatFAB 
                Icon="more_horiz" 
                Class="app-fab--absolute second-layer options"
                OnClick="HandleOpenPressed" 
            />
            break;
        case ActionStates.Open:
            <MatFAB 
                Icon="clear" 
                Class="app-fab--absolute second-layer close"
                OnClick="HandleClosePressed" 
            />
            <MatFAB 
                Icon="autorenew"
                Class="app-fab--absolute second-layer edit-recurring" 
                OnClick="HandleEditRecurringPressed"
            />
            <MatFAB 
                Icon="save_alt" 
                Class="app-fab--absolute second-layer download" 
                OnClick="HandleDownloadBudgetsPressed"
            />
            break;
    }
</div>