::deep .app-fab--absolute {
    position: fixed;
    right: 1rem;
    z-index: 5;
}

::deep .add {
    bottom: 1rem;
} 

::deep .expense {
    bottom: 9rem;
}

::deep .budget {
    bottom: 5rem;
}

::deep .edit-recurring {
    bottom: 5rem;
}