::deep .app-fab--absolute {
    position: fixed;
    right: 1rem;
    z-index: 1;
}

::deep .add {
    bottom: 1rem;
}

::deep .second-layer {
    bottom: 5rem;
}

::deep .edit-recurring {
    right: 5rem;
}

::deep .download {
    right: 9rem;
}