::deep .mat-accordion .mat-expansion-panel__sub-header {
    align-items: end;
}

.panel-subheader {
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: unset;

    & > * {
        width: max-content;
    }

    & > button {
        height: 1.25rem;
        margin-left: 0.75rem;
    }
}

::deep .edit-budget-icon {
    font-size: 1.25rem;
    color: var(--clr-1p, #6442d6);
    text-shadow: 2px 2px 4px var(--clr-1p_80, #cbbeff);
}

::deep .is-recurring-label-icon {
    padding-right: 0.25rem;
    font-size: 1.25rem;
}

::deep .name-column-row {
    display: flex;
    align-items: center;
    gap: .25rem;
}