<div class="category-picker">
    <div class="top-bar">
        @if (!_isOpen)
        {
            <button 
                class="open-btn"
                @onclick="HandleOpenOptionsPressed"
            >
                <MatIcon 
                    Icon="add_circle_outline"
                    Class="clr-1p open-btn-icon"
                />
            </button>
        }
        else
        {
            <button 
                class="close-btn"
                @onclick="HandleCloseOptionsPressed"
            >
                <MatIcon 
                    Icon="remove_circle_outline"
                    Class="clr-1p close-btn-icon"
                />
            </button>
        }

        <MatBody2 class="add-categories-label">
            Add Expense Categories?
        </MatBody2>
    </div>

    @if (_isOpen)
    {
        <MatChipSet Filter="true" @bind-SelectedChips="_selectedChips">
            @foreach (var category in CategoryViewModel.Categories)
            {
                <MatChip Label="@category.DisplayName" Value="category" IsCheckable="true"></MatChip>
            }
        </MatChipSet>
    }
</div>