.category-picker {
    margin-bottom: 11px;
}

.top-bar,
.top-bar > button {
    display: flex;
    column-gap: 15px;
    align-items: center;
    justify-content: start;
}

::deep .add-categories-label {
    margin: 0;
}

.open-btn,
.close-btn {
    height: 20px;
    padding-left: 11px;
    box-sizing: content-box;
}

::deep .open-btn-icon,
::deep .close-btn-icon {
    cursor: pointer;
    color: var(--clr-1p, #6442d6);
    font-size: 18px;
    border: none;
}

::deep .mdc-chip--selected {
    color: var(--clr-on-1s-container, #21182b);
    background-color: var(--clr-1s-container, #dcdaf5);
}