<div class="category-picker">
    <div class="top-bar">
        @if (!_isOpen)
        {
            <button 
                class="open-btn"
                @onclick="HandleOpenOptionsPressed"
            >
                <MatIcon 
                    Icon="add_circle_outline"
                    Class="clr-1p open-btn-icon"
                />
                <MatBody2 class="add-categories-label">
                    Add Expense Categories?
                </MatBody2>
            </button>
        }
        else
        {
            <button 
                class="close-btn"
                @onclick="HandleCloseOptionsPressed"
            >
                <MatIcon 
                    Icon="remove_circle_outline"
                    Class="clr-1p close-btn-icon"
                />
                <MatBody2 class="add-categories-label">
                    Add Expense Categories?
                </MatBody2>
            </button>
        }
    </div>

    @if (_isOpen)
    {
        <MatChipSet Filter="true">
            @{
                var selectedIds = CategoryViewModel.SelectedCategoryList.Select(x => x.Id);
            }
            @foreach (var category in CategoryViewModel.Categories)
            {
                var isSelected = selectedIds.Contains(category.Id);
                <MatChip 
                    Label="@category.DisplayName" 
                    Value="category" 
                    IsCheckable="true" 
                    IsSelected="isSelected"
                    @onclick="() => ToggleSelectedCategory(category)"
                />
            }
        </MatChipSet>
    }
</div>