<div class="search-bar">
    <MatTextField 
        @bind-Value="@_searchText" 
        Label="Search..." 
        Icon="search" 
        Id="search-text"
        OnKeyPress="HandleSearchKeyPressed"
    />

    <MatSelect  
        @bind-Value="@_topNStr"
        Id="page-size"
        Class="page-size"
        Label="#"
    >
        <MatOptionString Value="10">10</MatOptionString>
        <MatOptionString Value="50">50</MatOptionString>
        <MatOptionString Value="100">100</MatOptionString>
        <MatOptionString Value="250">250</MatOptionString>
    </MatSelect>

    <MatButton 
        OnClick="HandleSearch"
        Unelevated="true"
        Id="search-btn"
        Class="search-btn"
    >
        SEARCH
    </MatButton>
</div>