.search-bar {
    position: relative;
    display: grid;
    gap: 0.0rem;
    grid-template-columns: 4fr 0.75fr 1.25fr;
    grid-template-rows: auto;
    grid-template-areas:
        "search-text page-size search-btn";
}

#search-text {
    grid-area: search-text;
}

#page-size {
    grid-area: page-size;
}

#search-btn {
    grid-area: search-btn;
}

#result-list {
    grid-area: result-list;
}

::deep .page-size {
    min-width: auto;
}

::deep .search-btn {
    height: 100%;
}

::deep .result-list {
    position: absolute;
    z-index: 10;
    top: 4rem;
    background-color: var(--clr-surface2, #f8f1f6);
    box-shadow: -2px 0px 8px rgba(0, 0, 0, 0.2);
    padding: 2rem 1.5rem;
    margin: 0 10%;
    width: 80%;
    height: 18rem;
    overflow-y: scroll;
    border-radius: 2rem;
}

