<div class="search-bar">
    <MatTextField 
        @bind-Value="@_searchText" 
        Label="Search..." 
        Icon="search" 
        Id="search-text"
    />

    <MatButton 
        OnClick="HandleSearch"
        Unelevated="true"
        Id="search-btn"
        Class="search-btn"
    >
        SUBMIT
    </MatButton>
</div>