<div class="search-bar">
    <MatTextField 
        @bind-Value="@_searchText" 
        Label="Search..." 
        Icon="search" 
        Id="search-text"
        OnKeyPress="HandleSearchKeyPressed"
    />

    <MatSelect  
    @bind-Value="@_topNStr"
    Id="page-size"
    Class="page-size"
    Label="#"
    >
        <MatOptionString Value="10">10</MatOptionString>
        <MatOptionString Value="50">50</MatOptionString>
        <MatOptionString Value="100">100</MatOptionString>
        <MatOptionString Value="250">250</MatOptionString>
    </MatSelect>

    <MatButton 
        OnClick="HandleSearch"
        Unelevated="true"
        Id="search-btn"
        Class="search-btn"
    >
        SEARCH
    </MatButton>

    @if (_expenseList.Count > 0)
    {
        <MatList Id="result-list" Class="result-list">
            @{ int i = 0; } 
            @foreach (var expense in _expenseList)
            {
                i += 1;
                int ii = i;
                <MatListItem Class="list-item">
                    <span>@expense.ExpenseName</span>
                    <span>@expense.BudgetName</span>
                </MatListItem>
                @if (ii != _expenseList.Count)
                {
                    <MatListDivider></MatListDivider>
                }
            }
        </MatList>
    }
</div>